{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username | upper }}</h2>
          <p class="text-secondary"> Email: {{ user.email }}</p>
          <p class="text-secondary"> Date joined: {{ user.date_joined }}</p>
          <p class="text-body">{{ user.first_name }}</p>
          <p class="text-body">{{ user.last_name }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}